.form-section {
    padding: 4px 0;
    background-image: url('https://static.tildacdn.com/tild6132-3333-4566-a137-623438623136/Hero-Optimized.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
}

.form-block {
    max-width: 37%;
    margin: 0 auto;
    z-index: 5;
    overflow: hidden;
    background: linear-gradient(172deg, rgba(85, 61, 122, 0.94), rgba(90, 122, 204, 0.92));
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px 50px;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.btn-group button {
    background: #469eca;
    border: none;
    text-align: center;
    border-radius: 8px 0;
    box-shadow: 1px 1px #2178a4, 2px 2px #2178a4, 3px 3px #2178a4;
    transition: all 0.5s;
}

.btn-group button:hover {
    background: #2178a4;
    border-radius: 0 8px;
    box-shadow: 1px 1px #469eca, 2px 2px #469eca, 3px 3px #469eca;
}

.back-btn {
    margin-right: 5px;
}

.login-btn {
    margin-left: 5px;
}

.form-img {
    max-width: 30%;
    border-radius: 50%;
}

.gg,
.fb {
    background-color: rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    cursor: pointer;
    transition: all 450ms;
}

.gg:hover,
.fb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.span-lock {
    display: inline-block;
}

.or--x::before,
.or--x::after {
    position: relative;
    border-top: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    margin-bottom: 0.15em;
    overflow: hidden;
}

.or--x::before {
    right: 0.5em;
}

.or--x::after {
    left: 0.5em;
}

@media (max-width: 1024px) and (min-width: 992px) {
    .form-block {
        max-width: 45%;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .form-block {
        max-width: 55%;
    }
}

@media (max-width: 767px) and (min-width: 426px) {
    .form-block {
        max-width: 85%;
    }
}

@media (max-width: 425px) {
    .form-block {
        max-width: 95%;
    }
}