node_modules
dist
build
BBV - Copy
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
coverage
*.log
*.tsbuildinfo
.idea
.vscode
*.swp
*.swo
*.bak
*.tmp
public/static
.cache
.next
out
*.local
*.env.*
policy.json
s3Uploader.js